h1{
  font-size: 50px;
 

}
body{
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
.name-high-light{
  color: orange;;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 6%;
  padding: 2%;

}
.half-width img{
  width: 610px;
  height: 452px;
  margin-top: -25px;
 
  
}
.top-banner{
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
}
section{
  height: 600px;

}
.link-button{
 background-image: linear-gradient(lightsalmon,rgba(255, 99, 71, 0.89));
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700px;


}
a:hover{
background-color: rgb(0, 68, 255);
padding: 10px 25px;

}
h2{
  font-size: 40px;
}
h3{
  font-size: 20px;
  font-weight: 700px;
}
.button{
  padding: 10PX 20px;
  text-decoration: none;
  background-color: rgb(255, 136, 0);
  color: white;
  font-weight: 700;
  
 
}


 .dream-area{
  background-image: url("../images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 700px;
 
} 