h1{
  font-size: 50px;
 

}
body{
  font-family: 'Roboto', sans-serif;
}
.name-high-light{
  color: orange;;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 6%;
  padding: 2%;

}
.half-width img{
  width: 610px;
  height: 452px;
  margin-top: -34px;
 
  
}
.top-banner{
  background: url("../images/top-banner.png");
}